<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | RealJJUniverse</title>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <h1>About</h1>
    <h2>Creating Everything Still</h2>
    <a href="/home">Home</a>
    <a href="/music/test">Test</a>
  </body>
</html>