<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon | RealJJUniverse</title>
    <link rel="stylesheet" href="css/comingsoon.css">
  </head>
  <body>
    <header>
      <a href="comingsoon">Real JJ Universe</a>
      <nav>
        <ul>
          <li><a href="home">Home</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <div class="contentBx">
        <h2>Coming Soon</h2>
        <p>I am in the progress of making this website. Please wait and see what this website is all about.</p>
        <div class="countdown">
          <div id="day">150</div>
          <div id="hour">2</div>
          <div id="minute">10</div>
          <div id="second">14</div>
        </div>
      </div>
    </section>
    <script src="/js/comingsoon.js"></script>
  </body>
</html>