<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon | RealJJUniverse</title>
    <link rel="stylesheet" href="css/comingsoon.css">
  </head>
  <body>
    <span class="msg">Coming Soon</span>
  </body>
</html>