<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | RealJJUniverse</title>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <header>
      <h1>Real JJ Universe</h1>
      <nav>
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="comingsoon">Coming Soon</a></li>
        </ul>
      </nav>
      <h2>Creating Everything Still</h2>
    </header>
  </body>
</html>